body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover_blue_sh{width: 100%; float: left; margin-bottom: 22px;     min-height: 160px; transition: all .3s ease 0s;}
.hover_blue_sh:hover{color: #ffffff;  background: #ba8d0f;}

.hover_blue_sh2{width: 100%; float: left; margin-bottom: 22px;     min-height: 160px; transition: all .3s ease 0s;}
.hover_blue_sh2:hover{color: #fff;  background: #0044ff;}


